{% extends 'base.html.twig' %}

{% block title %}Spécialité des chefs !{% endblock %}

{% block body %}

<!-- Debut de page -->
    <main id="fondGrisSpe">
        <div>
            <div class="fondImgSpe">
                <img src="photos/pageSpecialites/page-chef.jpg" alt="Une main déposant divers ingrédients sur une buche en bois ronde avec une légère vapeur qui s'en dégage">
                <a href="#" class="filtre">Filtrer les menus</a>
            </div>
        </div>

        <!-- Juste après le bouton filtre -->

        <div class="espaceSpe"></div>
        <div class="containerSpe flex">
            <div class="colonneSpe flex">
                <div class="centreImgSpe">
                    <img src="photos/pageSpecialites/beau-et-bon.jpg" alt="poêlé de riz et du poulet dans une poele">
                    <p class="centreTextP">Beau et Bon!</p>
                    <a href="#" class="centreTextChef">Chef Thibault Martin</a>
                    <div class="etoilesSpe flex">
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpeNoir">
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="colonnePrixSpe">
                    <div class="prix2">
                        <span>39€</span>
                        par personne</div>
                    <a href="{{ path("page_chef") }}" class="voirMenuSpe">Voir menu</a>
                </div>
            </div>
            <div class="espaceSpe"></div>
            <div class="colonneSpe flex">
                <div class="centreImgSpe">
                    <img src="photos/pageSpecialites/mes-douceurs.jpg" alt="Des fruits disposés sur une assiette blanche">
                    <p class="centreTextP">Mes douceurs</p>
                    <a href="#" class="centreTextChef">Chef Thibault Martin</a>
                    <div class="etoilesSpe flex">
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpeNoir">
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="colonnePrixSpe">
                    <div class="prix2">
                        <span>39€</span>
                        par personne</div>
                    <a href="{{ path("page_chef") }}" class="voirMenuSpe">Voir menu</a>
                </div>
            </div>
            <div class="colonneSpe flex">
                <div class="centreImgSpe">
                    <img src="/photos/pageSpecialites/papille-en-eveil.jpg" alt="Mélange de fruit avec des fruits à coque dans une assiette noir">
                    <p class="centreTextP">Papille en eveil</p>
                    <a href="#" class="centreTextChef">Chef Thibault Martin</a>
                    <div class="etoilesSpe flex">
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpeNoir">
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="colonnePrixSpe">
                    <div class="prix2">
                        <span>39€</span>
                        par personne</div>
                    <a href=" {{ path("page_chef") }} " class="voirMenuSpe">Voir menu</a>
                </div>
            </div>
            <div class="espaceSpe"></div>
            <div class="colonneSpe flex">
                <div class="centreImgSpe">
                    <img src="/photos/pageSpecialites/terre-et-mer.jpg" alt="Plat au poulet dans un bol en terre cuite">
                    <p class="centreTextP">Terre et mer</p>
                    <a href="#" class="centreTextChef">Chef Thibault Martin</a>
                    <div class="etoilesSpe flex">
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpeNoir">
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="colonnePrixSpe">
                    <div class="prix2">
                        <span>39€</span>
                        par personne</div>
                    <a href=" {{ path("page_chef") }} " class="voirMenuSpe">Voir menu</a>
                </div>
            </div>
            <div class="colonneSpe flex">
                <div class="centreImgSpe">
                    <img src="/photos/pageSpecialites/tout-en-couleur.jpg" alt="Soupe de légume dans un bol">
                    <p class="centreTextP">Tout en couleur</p>
                    <a href="#" class="centreTextChef">Chef Thibault Martin</a>
                    <div class="etoilesSpe flex">
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpeNoir">
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="colonnePrixSpe">
                    <div class="prix2">
                        <span>39€</span>
                        par personne</div>
                    <a href="{{ path("page_chef") }}" class="voirMenuSpe">Voir menu</a>
                </div>
            </div>
            <div class="espaceSpe"></div>
            <div class="colonneSpe flex">
                <div class="centreImgSpe">
                    <img src="/photos/pageSpecialites/fusion.jpg" alt="Purée de pomme de terre avec une brochette de viande disposé sur une assiette blanche">
                    <p class="centreTextP">Fusion</p>
                    <a href="#" class="centreTextChef">Chef Thibault Martin</a>
                    <div class="etoilesSpe flex">
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpe">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="etoileSpeNoir">
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="colonnePrixSpe">
                    <div class="prix2">
                        <span>39€</span>
                        par personne</div>
                    <a href="{{ path("page_chef") }}" class="voirMenuSpe">Voir menu</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
